# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

.cache
.bash_history
.bash_it/
.bash_logout
.bashrc.bak
.config/.gsd-keyboard.settings-ported
.config/Code/
.config/Pinta/
.config/Slack/
.config/dconf/
.config/evolution/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/libreoffice/
.config/mimeapps.list
.config/mono.addins/
.config/nautilus/
.config/pulse/
.config/smartgit/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yelp/
.config/~/
.gnupg/
.lesshst
.local/
.mozilla/
.node_repl_history
.npm/
.pki/
.profiler
.repro/
.selected_editor
.ssh/
.sudo_as_admin_successful
.thunderbird/
.wget-hsts
Downloads/
Pictures/
fc-list
mono_crash.d4716fb0.0.json
search.txt
snap/
swap-window
